<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>The art of Bushcraft</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{% url 'index' %}" class="logo">PA-WILD LLC.<span></span></a>
						<nav>
							<ul>
								<li><a href="#menu">Menu</a></li>
							</ul>
						</nav>
					</header>

					<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'main_app/about' %}">About Us</a></li>
							<li><a href="{% url 'main_app/photo' %}">Photo Gallery</a></li>
							<li><a href="{% url 'main_app/tenkara' %}">The art of Tenkara</a></li>
							<li><a href="{% url 'main_app/bushcraft' %}">The art of Bushcraft</a></li>
							<li><a href="{% url 'main_app/video' %}">Videography</a></li>
							<!-- <li><a href="{% url 'index' %}">Blog</a></li> -->
							<!-- <li><a href="{% url 'index' %}">Wild-Social</a></li> -->

						</ul>
						<ul class="actions stacked">
							<li><a href="{% url 'users' %}" class="button primary fit">Message Us!</a></li>
							<!-- <li><a href="#" class="button fit">Log In</a></li> -->
						</ul>
					</nav>

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Main -->
							<section id="main" class="main">
								<div class="inner">
									<header class="major">
										<h1>THE ART OF BUSHCRAFT</h1>
									</header>
									<span class="image main"><img src="{% static 'images/bushcraft1.jpg' %}" alt="" /></span>
									<ul class="actions special">
										<li><a href="{% url 'users' %}" class="button primary large">START YOUR ADVENTURE</a></li>
									</ul>

									<p>Bushcraft is about thriving in the natural environment, and the acquisition of the skills and knowledge to do so. Bushcraft skills include firecraft, tracking, hunting, fishing, shelter-building, navigation by natural means, the use of tools such as knives and axes, foraging, water sourcing, hand-carving wood, container construction from natural materials, and rope and twine-making, among others..</p>
									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>
									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis.</p>
								</div>
							</section>

					</div>

          <!-- Footer -->
  					<footer id="footer">
  						<div class="inner">
  							<ul class="icons">
									<li><a href="https://twitter.com/pawild1" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/PA-Wild-LLC-2078341429151608/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.youtube.com/channel/UC1kDzWdjJ5qTH3selkTbyDg/" class="icon alt fa-youtube"><span class="label">YouTube</span></a></li>
									<li><a href="https://www.instagram.com/info.pawild/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
  							</ul>
  						</div>
  						<a href="http://www.mjf-digital.com"><p class="copyright">&copy; MJF-Digtal. All rights reserved.</p></a>
  					</footer>

  			</div>

  		<!-- Scripts -->
  			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
  			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
  			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
  			<script src="{% static 'assets/js/browser.min.js' %}"></script>
  			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  			<script src="{% static 'assets/js/util.js' %}"></script>
  			<script src="{% static 'assets/js/main.js' %}"></script>

  	</body>
  </html>
